    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
            <h1>Bienvenue chez <span>DevLond</span></h1>
            <p>Nous sommes une équipe de designers talentueux créant des sites Web</p>
            <div class="d-flex">
              <a href="#featured-services" class="btn-get-started">Nos Services</a>
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Regarder la vidéo</span></a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

            <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2> 
        <p><span>Consultez nos </span> <span class="description-title">Services</span></p>
      </div><!-- End Section Title -->


      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="javascript:void(0);" class="stretched-link">Web design</a></h4>
              <p>Nous créons des designs web élégants qui valorisent votre image de marque.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4><a href="javascript:void(0);" class="stretched-link">Développement</a></h4>
              <p>Nous développons des sites performants, sécurisés et adaptés à vos besoins.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4><a href="javascript:void(0);" class="stretched-link">Marketing</a></h4>
              <p>Nous élaborons des stratégies de marketing digital pour attirer de nouveaux clients.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4><a href="javascript:void(0);" class="stretched-link">Gestion de produits</a></h4>
              <p>Gestion complète de vos produits digitaux, de l’idée à la mise en ligne.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>A propos</h2>
        <p><span>En savoir plus </span> <span class="description-title"> sur nous</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-3">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/about.jpg" alt="about" class="img-fluid">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="about-content ps-0 ps-lg-3">
              <h3>Équipe dédiée à vos projets digitaux.</h3>
              <p class="fst-italic">
                Une équipe passionnée, experte, qui transforme vos idées en solutions digitales innovantes.
              </p>
              <ul>
                <li>
                  <i class="bi bi-diagram-3"></i>
                  <div>
                    <h4>Des solutions digitales pour tous les secteurs</h4>
                    <p>Nous offrons des solutions digitales flexibles, adaptées au besoins de chaque projet unique.</p>
                  </div>
                </li>
                <li>
                  <i class="bi bi-fullscreen-exit"></i>
                  <div>
                    <h4>Gestion de produits : de l'idée à la réalité</h4>
                    <p>Nous assurons la gestion complète de vos produits, en optimisant chaque étape pour garantir leur succès.</p>
                  </div>
                </li>
              </ul>
              <p>
                Notre équipe talentueuse combine créativité et expertise technique pour offrir des solutions sur mesure,
                adaptées à vos besoins. Nous travaillons ensemble pour garantir la réussite de vos projets digitaux avec 
                efficacité.
              </p>
            </div>

          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="testimonials">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="testimonials2">
                <h3>Jean Paul</h3>
                <h4>PDG et fondateur</h4>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Je suis fier de voir notre équipe transformer des idées en solutions digitales innovantes. leur engagement nous a permis d'atteindre de nouveaux sommets.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portefeuille</h2>
        <p><span>Consultez notre </span> <span class="description-title"> Portefeuille</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="assets/img/masonry-portfolio/4.jpg" class="img-fluid" alt="portfolio">
              <div class="portfolio-info">
                <h4>Plateforme de location de véhicules</h4>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="assets/img/masonry-portfolio/3.jpg" class="img-fluid" alt="portfolio6">
              <div class="portfolio-info">
                <h4>Plateforme d'éducation en ligne</h4>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="assets/img/masonry-portfolio/6.jpg" class="img-fluid" alt="portfolio3">
              <div class="portfolio-info">
                <h4>Site e-commerce</h4>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="assets/img/masonry-portfolio/1.png" class="img-fluid" alt="portfolio4">
              <div class="portfolio-info">
                <h4>Application de gestion du personnel</h4>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="assets/img/masonry-portfolio/2.png" class="img-fluid" alt="portfolio5">
              <div class="portfolio-info">
                <h4>Tableaux de bord</h4>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="assets/img/masonry-portfolio/5.jpg" class="img-fluid" alt="portfolio2">
              <div class="portfolio-info">
                <h4>Site de vente de matériel informatique</h4>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Team Section -->
    <section id="team" class="team section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Équipe</h2>
        <p><span>Notre </span> <span class="description-title">Équipe travailleuse</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="team">
                <div class="social">
                  <a href="javascript:void(0);"><i class="bi bi-twitter-x"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-facebook"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-instagram"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Directeur général</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="team2">
                <div class="social">
                  <a href="javascript:void(0);"><i class="bi bi-twitter-x"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-facebook"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-instagram"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Développeur web</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="team3">
                <div class="social">
                  <a href="javascript:void(0);"><i class="bi bi-twitter-x"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-facebook"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-instagram"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Développeur web</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="team4">
                <div class="social">
                  <a href="javascript:void(0);"><i class="bi bi-twitter-x"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-facebook"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-instagram"></i></a>
                  <a href="javascript:void(0);"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Comptable</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Tarification</h2>
        <p><span>Consultez nos </span> <span class="description-title"> Tarifs</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-3">

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Gratuit</h3>
              <h4>0<span> <sup> DH</sup>/ mois</span></h4>
              <ul>
                <li>Web design</li>
                <li>Développement web</li>
                <li>Marketing</li>
                <li class="na">Gestion de produits</li>
                <li class="na">Support technique</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Contactez nous</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Business</h3>
              <h4>190<span> <sup> DH</sup>/ mois</span></h4>
              <ul>
                <li>Web design</li>
                <li>Développement web</li>
                <li>Marketing</li>
                <li>Gestion de produits</li>
                <li class="na">Support technique</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Contactez nous</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
              <h3>Developer</h3>
              <h4>290<span> <sup> DH</sup>/ mois</span></h4>
              <ul>
                <li>Web design</li>
                <li>Développement web</li>
                <li>Marketing</li>
                <li>Gestion de produits</li>
                <li>Support technique</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Contactez nous</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
              <span class="advanced">Avancé</span>
              <h3>Ultime</h3>
              <h4>490<span> <sup> DH</sup>/ mois</span></h4>
              <ul>
                <li>Web design</li>
                <li>Développement web</li>
                <li>Marketing</li>
                <li>Gestion de produits</li>
                <li>Support technique</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Contactez nous</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <p><span>Questions </span> <span class="description-title"> fréquemment posées</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div [class.faq-active]="hoveredFaq1" class="faq-item" (mouseenter)="hoveredFaq1=true" (mouseleave)="hoveredFaq1=false">
                <h3>1. Quels types de sites web proposez-vous ?</h3>
                <div class="faq-content">
                  <p>Nous créons des sites vitrines, e-commerce, portfolios et des plateformes sur mesure, adaptés à vos besoins spécifiques.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div [class.faq-active]="hoveredFaq2" class="faq-item" (mouseenter)="hoveredFaq2=true" (mouseleave)="hoveredFaq2=false">
                <h3>2. Offrez-vous un support après la livraison du site ?</h3>
                <div class="faq-content">
                  <p>Oui, nous assurons un support téléphonique et technique après la mise en ligne pour garantir le bon fonctionnement de votre site.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div [class.faq-active]="hoveredFaq3" class="faq-item" (mouseenter)="hoveredFaq3=true" (mouseleave)="hoveredFaq3=false">
                <h3>3. Puis-je mettre à jour mon site moi-même ?</h3>
                <div class="faq-content">
                  <p>Bien sûr. Nous incluons des tableaux de bord intuitifs pour que vous puissiez gérer votre contenu facilement, sans connaissances techniques.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div [class.faq-active]="hoveredFaq4" class="faq-item" (mouseenter)="hoveredFaq4=true" (mouseleave)="hoveredFaq4=false">
                <h3>4. Combien de temps faut-il pour créer un site ?</h3>
                <div class="faq-content">
                  <p>Le délai dépend du projet, mais en général, un site vitrine peut être livré en 1 à 3 semaines.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div [class.faq-active]="hoveredFaq5" class="faq-item" (mouseenter)="hoveredFaq5=true" (mouseleave)="hoveredFaq5=false">
                <h3>5. Proposez-vous des services de marketing digital ?</h3>
                <div class="faq-content">
                  <p>Oui, nous créons des stratégies sur mesure incluant la publicité en ligne et le marketing sur les réseaux sociaux pour renforcer votre présence en ligne.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div [class.faq-active]="hoveredFaq6" class="faq-item" (mouseenter)="hoveredFaq6=true" (mouseleave)="hoveredFaq6=false">
                <h3>6. En quoi consiste votre service de gestion de produits ?</h3>
                <div class="faq-content">
                  <p>Nous vous accompagnons tout au long du cycle de vie de votre produit digital, de l'idée au lancement, en assurant la coordination entre les équipes, les objectifs business et les besoins de vos clients.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p><span>Contactez</span><span class="description-title">-Nous</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">


            <div class="info-wrap d-flex justify-content-between">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Adresse</h3>
                  <p>A108 nom boulevard, nom ville</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Appelez-nous</h3>
                  <p>05 55 55 55 55</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Envoyez-nous un E-mail</h3>
                  <p>info&#64;gmail.com</p>
                </div>
              </div><!-- End Info Item -->
            </div>
     
      </div>

    </section><!-- /Contact Section -->
    
    
    <style>
      .isotope-container{
        justify-content: space-between;
      }
      .portfolio-item{
        background-color: #eeeeee;
        padding: 10px;
        box-shadow: 1px 1px 10px 0px;
        width: 30%;
        margin: 10px;
      }
    </style>