<div class="container">

<h1 style="margin: 40px 0; font-weight: bold; border-bottom: solid black 2px;">Conditions d'utilisation</h1>

<div style="padding-left: 50px;">
<h3>1. Acceptation des conditions</h3>
<p>En accédant à ce site web, vous acceptez les présentes conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.</p>

<h3>2. Propriété intellectuelle</h3>
<p>Tous les contenus présents sur ce site (textes, images, logos, vidéos, etc.) sont la propriété exclusive de 
    DevLond sauf mention contraire. Toute reproduction ou utilisation sans autorisation écrite est strictement interdite.</p>

<h3>3. Utilisation du site</h3>
<p>Vous vous engagez à utiliser ce site de manière légale et respectueuse. Il est interdit de :</p>
<ul>
    <li>Porter atteinte aux droits d’autrui.</li>
    <li>Transmettre des virus, malwares, ou tout autre code malveillant.</li>
    <li>Utiliser le site à des fins frauduleuses ou commerciales non autorisées.</li>
    <li>Prendre l’identité d’un tiers ou se faire passer pour une autre entité.</li>
</ul>

<h3>4. Responsabilités</h3>
<p>Nous faisons de notre mieux pour maintenir le site à jour et accessible. Toutefois, nous ne garantissons pas l’absence d’erreurs, d’interruptions ou de bugs. DevLond ne saurait être tenu responsable de tout dommage lié à l’utilisation du site.</p>

<h3>5. Données personnelles</h3>
<p>L’utilisation de vos données personnelles est régie par notre Politique de confidentialité. En utilisant le site, vous consentez à cette collecte et utilisation.</p>

<h3>6. Modifications des conditions</h3>
<p>Nous nous réservons le droit de modifier ces conditions à tout moment. Les utilisateurs seront informés des mises à jour sur cette page.</p>

<h3>7. Contact</h3>
<p>Pour toute question concernant ces conditions, vous pouvez nous contacter à :
info&#64;gmail.com</p>
</div>
</div>

<style>
    h3{
        margin-top: 40px;
    }
</style>